/*  
    0   - 375px:    small-phone
    375 - 600px:    phone
    600 - 900px:    Tablet(portrait)
    900 - 1200px:   Tablet(landscape)
    (1200 to 1800px is where our normal styles apply)
    1800px +:       Big Desktop

    $breakpoint argument choices:
    -small-phone
    -phone
    -tab-port
    -tab-land
    -big-desktop
*/
:root {
  --color-dark-purple: hsl(292, 42%, 14%);
  --color-grayish-purple: hsl(292, 16%, 49%);
  --color-light-pink: hsl(275, 100%, 97%);
  --color-white: hsl(0, 0%, 100%);
  --font-primary: "Work Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 81.25%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: var(--color-light-pink);
  background-image: url("/assets/images/background-pattern-desktop.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  body {
    background-image: url("/assets/images/background-pattern-mobile.svg");
  }
}

body {
  color: var(--color-dark-purple);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
}

.card {
  width: 60rem;
  min-height: 45.38rem;
  background-color: var(--color-white);
  border-radius: 15px;
  display: grid;
  grid-template-rows: min-content 1fr;
  padding: 4rem;
  margin: 10rem auto;
  font-size: 1.6rem;
}
@media only screen and (max-width: 37.5em) {
  .card {
    width: 95%;
    max-width: 60rem;
    padding: 2rem;
  }
}
.card__header {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}
.card__icon {
  padding-right: 2.5rem;
}
.card__FAQ {
  display: grid;
  grid-template-rows: repeat(4, min-content);
}
.card__FAQ:last-of-type {
  margin-bottom: 2rem;
}
.card__section {
  display: flex;
  flex-direction: column;
}
.card__question {
  display: flex;
  align-items: center;
  padding: 0.3rem 0 0.5rem 0;
}
.card__q {
  font-size: 1.6rem;
  margin-right: auto;
  padding-right: 2rem;
}
.card__question-icon, .card__question-icon-2 {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
}
.card__a {
  margin-top: 2rem;
}
.card__section--one:hover .card__q1, .card__section--four:active .card__q4 {
  color: var(--color-grayish-purple);
}
.card__section--two:hover .card__q2, .card__section--four:active .card__q4 {
  color: var(--color-grayish-purple);
}
.card__section--three:hover .card__q3, .card__section--four:active .card__q4 {
  color: var(--color-grayish-purple);
}
.card__section--four:hover .card__q4, .card__section--four:active .card__q4 {
  color: var(--color-grayish-purple);
}
.card__section--one:hover, .card__section--one:active {
  cursor: pointer;
}
.card__section--two:hover, .card__section--one:active {
  cursor: pointer;
}
.card__section--three:hover, .card__section--one:active {
  cursor: pointer;
}
.card__section--four:hover, .card__section--one:active {
  cursor: pointer;
}

.hidden {
  display: none;
}

.hr {
  opacity: 0.2;
  margin: 3rem 0.5rem;
}

/*# sourceMappingURL=style.css.map */
