:root {
  //COLORS
  --color-dark-purple: hsl(292, 42%, 14%); //Dark Purple
  --color-grayish-purple: hsl(292, 16%, 49%); //Grayish Purple
  --color-light-pink: hsl(275, 100%, 97%); //Light Pink
  --color-white: hsl(0, 0%, 100%); //White

  //FONTS
  --font-primary: "Work Sans", sans-serif;
}
